:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f1f5f9;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}

pre {
  background-color: #f8f8f8;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
} 